.first-header {
    margin-bottom: 5px;
}

.logo-small {
    height: 145px;
}

.pic {
    height: 100%;
    width: 100%;
    box-shadow: 8px 8px 24px 0px rgba(212, 214, 239, 1);
    margin-bottom: 10px;

}

.wycena-img {
    width: 100%;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(212, 214, 239, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(212, 214, 239, 1);
    box-shadow: 8px 8px 24px 0px rgba(212, 214, 239, 1);
}

.ctext {
    font-family: "Poppins", sans-serif;
}

.mainText {
    font-family: 'Lora', sans-serif
}

.ctextHeader {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: #919191;
}

.rectangle {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 15px;
    border-radius: 40px;
    height: 100%;
}

a, p, h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
}

.section-services {
    padding-top: 35px;
    padding-bottom: 70px;
    font-family: "Poppins", sans-serif;
    background-color: #2e8e12;
    color: #fff;
}

.section-services2 {
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #2e8e12;
}

.section-services2 .header-section2 {
    margin-bottom: 35px;
}

.section-services2 .header-section2 .title2 {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-services2 .header-section2 .title2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 1px;
    background-color: #215210;
}

.section-services2 .header-section2 .title2:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 3px;
    background-color: #215210;
}

.section-services2 .header-section2 .title2 span {
    color: #17360b;
}

.section-services2 .header-section2 .description2 {
    color: #acc5b2;
}

.text-footer {
    color: #215210;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.section-services .header-section {
    margin-bottom: 35px;
}

.section-services .header-section .title {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 1px;
    background-color: #215210;
}

.section-services .header-section .title:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 3px;
    background-color: #215210;
}

.section-services .header-section .title span {
    color: #17360b;
}

.section-services .header-section .description {
    color: #acc5b2;
}

.section-services .single-service {
    margin-top: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(33, 82, 16);
}

.section-services .single-service .part-1 {
    padding: 40px 40px 25px;
    border-bottom: 2px solid #215210;
}

.section-services .single-service .part-1 i {
    margin-bottom: 25px;
    font-size: 50px;
    color: #17360b;
}

.section-services .single-service .part-1 .title {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.8em;
    color: white;
    padding: 5px;
    background: #2e8e12;
}

.section-services .single-service .part-2 {
    padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
    margin-bottom: 22px;
    color: #17360b;
    font-size: 14px;
    line-height: 1.8em;
}

.section-services .single-service .part-2 a {
    color: #919191;
    font-size: 14px;
    text-decoration: none;
}

.section-services .single-service .part-2 a i {
    margin-right: 10px;
    color: #919191;
}

.red {
    color: red !important;
}

footer {
    background-color: #f5f5f5;
    padding: 80px 0;
}

